.congrats{
    color: white;
}

.fail{
    color: white;
}

.bottom_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.button_design{
    padding: 10px;
    font-family: 'Montserrat';
    border-radius: 10px;
}

.ratios{
    position: relative;
    left: 50px;
}

.answer_button1{
    border: 0px;
    background-color: #F4DB90;
    color: #465362;
    font-family: 'Muli', sans-serif;
    border-radius: 5px;
    position: relative;
    top:-3px;
  }
