
body{
  font-family: 'Muli', sans-serif;
  color: #465362;
}
.row{
  width: 100%;
  margin-left: 0px;
  justify-content: space-evenly;
}

#answer{
    margin: 0px;
}

.score_circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #A6B7C8;
  text-align: center;
}

.left{
  text-align: left;
}

#score{
  font-size: 16px;
  font-weight: 900;
}

/* drag and drop */

#drinkTarget{
  background-color: #DDEEF8;
  height: 300px;
  border-radius: 5px;
  text-align-last: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#shaker_image{
  height:100%;
  opacity: 50%;
}

#ingredienticon{
  width:30%;
}

.drag {
  background-color: #DDEEF8;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px;
  font-family: 'Muli', sans-serif;
}

/* ratios */

#main_row {
  margin-top: 50px;
  height: 200px;
  justify-content: center;
  width: 100%;


}

 #answer{
  margin-left: 0px;
  padding-top: 20px;
}

#title{
  color: #465362;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

#body{
  color: #465362;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#ingredient {
  background-color: #DDEEF8;
  border-radius: 5px;
  margin-right: 15px;
  text-align: center;
  padding: 10px;
}

.textinput{
  width: 100%;
  font-family: 'Muli', sans-serif;
}

.answer_button{
  margin:auto;
  width: 300px;
  border: 0px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #F4DB90;
  font-family: 'Muli', sans-serif;

}
.answer_button:hover {
  background-color: #DDEEF8;
}

#navigation{
  font-family: 'Muli', sans-serif;
  margin-top: 20px;
}

.quiz_button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #465362;
  position: relative;
}
.check_answer {
  margin:auto;
  width: 200px;
  border: 0px;
  font-size: 24px;
  border-radius: 25px;
  background-color: lightpink;
  font-family: 'Muli', sans-serif;
}
