{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'congrats.js') }}"></script>


<div class="confetti">
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
</div>


<div class="row">
  <div class="col-12">
    <div class="centered">
      <h1 style="font-size: 100px"> Congratulations! </h1> 
    </div>
  </div>
  <div class="col-12">
    <div class="centered">
      <h1 style="font-size: 72px"> You're a Wizard Harry</h1> 
    </div>
  </div>
  <div class="col-12">
    <div class="centered">
      <p style="font-size: 50px"> You Scored: </p> 
    </div>
  </div>
  <div class="col-12">
    <div class="centered">
      <p style="font-size: 50px" id="score"> x/x </p> 
    </div>
  </div>
</div>





  
  
 

 


{% endblock %}
