{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'dragDrop.js') }}"></script>

<script>
  // from backend
</script>

<div class="row">
  </div>
  <!-- row to track which quesiton the user is on -->
  <div class="row" id="question_tracker">
      <span>Quiz</span> Question X/X
  </div>
  <!-- row to do the dragging and dropping -->
  <div class="row" id="interface">
    <div class="col-6">
      <div id="drinkTarget">Shaker (to add image later)</div>
      <div id="drink">FILLER</div>
    </div>
    <div class="col-6">
      <div id="ingredientTarget">Ingredient Options</div>
      <div id="ingredientList">FILLER</div>
    </div>
  </div>

  <!-- row for next problem -- I took some creative liberties here lol but can change -->
  <div class="row" id="next">
    Next problem
  </div>


{% endblock %}
