{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'freeForm.js') }}"></script>


<script>
    let questionDetails = {{questionDetails|tojson}}
  </script>

<div class="row">
</div>
<!-- row to track which quesiton the user is on -->
<div class="row" id="question_tracker">
  <div class="col-12"><span id="title">Quiz Question {{questionDetails.id}}/9</span></div>
  <div class="col-12"><span id="body">{{questionDetails.question}}</span></div>
</div>
<!-- row to do the dragging and dropping -->
<div class="row" id="interface">
  <div class="col-3">
    <div id="body">Ingredient Input</div>
    <input id ="ing0" type="text"> 
    <br>
    <input id ="ing1" type="text">
    <br>
    <input id ="ing2" type="text">
    <br>
    <input id ="ing3" type="text">
    <br>
    <input id ="ing4" type="text">
  </div>
  <div class="col-3">
    <div id="body" id="ingredientTarget">Ratios</div>
    <input id ="rat0" type="text">
    <br>
    <input id ="rat1" type="text">
    <br>
    <input id ="rat2" type="text">
    <br>
    <input id ="rat3" type="text">
    <br>
    <input id ="rat4" type="text">
  </div>
</div>

<button id="submit" class="answer_button1">Submit answer</button>
<br>
<button id="clear" class="quiz_button">Clear answer</button>


<div class="row" id="feedback">
</div>

<!-- Create a circular div with the text "score" in the top right of the page-->
<div class="row" id="score-container">
  <div class="col-12">
    <div class="score_circle">
      <div>Score: </div>
      <div id="score">x/x</div>
    </div>
  </div>
</div>

<div class="row" id="navigation">
  <div class="col-4">
      <button type="button" class="quiz_button" id="back_button">Back</button>
  </div>
  <div class="col-4 bottom_button">
  </div>
  <div class="col-4">
      <button type="button" class="quiz_button" id="next_button">Next</button>
  </div>
{% endblock %}







