{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="{{url_for('static', filename='learn.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">

<script>
    let drinkInfo = {{drinkInfo|tojson}}
</script>

<div class="a-container">
    <div class="row">
        <div class="col-md-10" id="fixed_div_height">
            <div>
                <div class="learn_circle">
                    <span>{{drinkInfo.id}}.</span>
                </div>
                <div class="drink_title">
                    <span class="drink_number_name">{{drinkInfo.ingredient_number}} Ingredient</span>
                    <span class="drink_name"> - {{drinkInfo.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 image_column">
                    <img src="{{ url_for('static', filename = drinkInfo.id + '-graphic.png') }}" class="main_image">
                </div>
                <div class="col-md-7 ingred_box">
                    {% for i in range(0, drinkInfo.ingredient_list|length) %}
                        <div class="ingred_list_{{drinkInfo.ingredient_number}}">
                            <span class="ingred_name" id="ingred_name_{{i}}">{{drinkInfo.ingredient_list[i]}}</span>
                            <span class="ingred_amount"> - {{drinkInfo.ingredient_details[drinkInfo.ingredient_list[i]].quantity}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="side_bar">
                <img src="{{ url_for('static', filename = drinkInfo.id + '-basic.png') }}" class="side_image">
            </div>
        </div>
    </div>
</div>

<div class="bottom_bar">
    <div class="row" style="margin: 0">
        <div class="col-md-4 bottom_button">
            <button type="button" class="button_design" id="back_button_intro">Back</button>
        </div>
        <div class="col-md-4 bottom_button">
            <button type="button" class="button_design" id="extra_info_button">Extra Info</button>
        </div>
        <div class="col-md-4 bottom_button">
            <button type="button" class="button_design" id="next_button_intro">Next</button>
        </div>
    </div>
</div>

<div id="dialog" class="discard_box" title="Extra Info">
    {% for i in range(0, drinkInfo.description|length) %}
    <div class="info_box">
        <span class="instruct">- {{drinkInfo.description[i]}}</span>
    </div>
    {% endfor %}
</div>

{% endblock %}