{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'ratios.js') }}"></script>

<script>
  let questionDetails = {{questionDetails|tojson}}
  let images = {{images|tojson}}
</script>



<div class="row video">
</div>
  <!-- row to track which quesiton the user is on -->
  <div class="row" id="question_tracker">
    <div class="col-8"><span id="title">Quiz Question {{questionDetails.id}}/9</span></div>
    <div style="text-align-last: end; padding-right: 45px;" class="col-4">
      <div style="display: inline-block; transform: translateY(50%);">CURRENT SCORE:  </div>
      <div style="display: inline-block;" class="score_circle">
        <div style="transform: translateY(50%); text-align-last: center;" id="score">x/x</div>
      </div>
    </div>
    <div class="col-12"><span id="body">{{questionDetails.question}}</span></div>
  </div>
  <!-- row to do assignment of ratios -->
  <div class="container">
    <div class="row" id="main_row"></div>
  </div>

  <!-- TEMPORARY TO CHECK ANSWER -->
  <div class="row" id="answer">
  </div>

  <!-- back and next -->

  <div class="row" id="navigation">
    <div class="col-4" style="margin: 0">
       <center><button type="button" class="quiz_button" id="back_button">Back</button></center>
    </div>
    <div class="col-4 bottom_button">
    </div>
    <div class="col-4">
      <center><button type="button" class="quiz_button" id="next_button">Next</button></center>
    </div>
  </div>


{% endblock %}
