{% extends 'layout.html' %}
{% block content %}
{{ super() }}

<div class="welcomelogo">
        <img src="{{ url_for('static', filename = 'bottomsup.png') }}">
</div>
<h4 style="text-align: center;">Tired of drinking vodka sodas and vodka cranberries? <br>
    Here are Bottoms Up!, we'll equip you with three delicious cocktails for your next wild night. <br>
    Walk to the bar with confidence and be the cool bartender at every party you attend.</h4>
<br>
<br>


<a href="/learn/intro/1">
<center><button class="button button1">Get Started</button></center>
</a>    


{% endblock %}